body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: orange;
    height: 33%;
}

article {
    background-color: white;
    background-image: url(flag.png);
    height: 34%;
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: 20%;
    margin-left: 34%;
}

footer {
    background-color: green;
    height: 33%;
}