body {
    margin: 0;
    padding: 0;
    height: 80vh;
}

header {
    background-image: url(top.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

nav {
    height: 10%;
    background-color: black;
}

nav div {
    padding: 1%;
    margin-left: 22%;
}

nav div button {
    /* color: white; */
    background-color: orange;
    border: none;
    padding: 13px 32px;
    text-align: center;
    font-size: 22px;
    margin: -13px 18px;

}

.button1 {
    background-color: orange;
}

.button2 {
    background-color: white;
}

.button3 {
    background-color: green;
}

aside {
    height: 100%;
}

aside #ifr {
    height: 100%;
    display: none;
}

aside #ifr2 {
    height: 100%;
    display: none;
}

aside .name .happy {
    font-size: 80px;
    color: orange;
    text-align: center;
}

aside .name .independence {
    font-size: 80px;
    color: blue;
    text-align: center;
}

aside .name .day {
    font-size: 80px;
    color: green;
    text-align: center;
}

article {
    background-image: url(bottom.jpg);
    height: 90%;
    background-repeat: no-repeat;
    background-position: 70% 25%;
}

footer {
    height: 10%;
    background-color: black;
    color: white;
}
footer div{
    padding: 1%;
    margin-left: 5%;
}